<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Research Paper Summary</title>
    <link rel="stylesheet" href="style.css">
</head>
<bod>
    <div class="container">
        <div class="article">
            <label style="background-color: blueviolet;"> Original Text</label>
            <textarea name="article-txt" id="article-txt" cols="30" rows=""10></textarea>
            <button id="submit">Summary</button>
        </div>

        <div class="summary-area">
            <label style="background-color: blueviolet;">Generated Summary</label>
            <p class="summary-txt"></p>
            
            <span class="words_count"id="words_count">Words:</span>
    </div>
    <script src="/script.js"></script>
</bod>
</html>